@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body 
{
	background-color: #F7F9FC;
	color: #575F7D;
	font-family: 'Roboto', sans-serif;

}
h1
{
	font-family: 'Roboto', sans-serif;

}
h2
{
	color: #7ECE90;
}

a {
	text-decoration: none;
}

#photoprofile
{
	height: 20%;
	width: 20%;
	border-radius: 50%;

}
#bio
{
	margin-bottom: 15px;
}
.card-white
{
	width: 75vw;
	margin:24px auto;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
}
.button-blue
{
	    padding: 1%;
    background-color: #6B72E1;
    border-radius: 7px;
    color: white;
    text-decoration: none;

}
.button-blue:hover 
{
	background-color: white;
	border : 1px;
	border-color: #6B72E1;
	color : #6B72E1;
}
.list-inline
{
	padding: 0px;
}
.list-inline li
{
	list-style-type: none;
	display: inline ;
	padding-right: 10px;


}
i 
{
	font-size: 300%;
	color: rgb(230, 230, 230);
}
#logo-facebook:hover
{
	color: #3b5998;
}
#logo-linkedin:hover
{
	color: #0077b5;
}

#logo-instagram:hover

{
	background:-webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);;
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    margin: 40px auto;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}